name: deploy.yml

on:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
    build-and-push:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set lowercase owner
        run: echo "OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ env.OWNER_LC }}/carsten-frontend:latest .

      - name: Log in to GHCR
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GHCR
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          docker push ghcr.io/${{ env.OWNER_LC }}/carsten-frontend:latest

    deploy:
      runs-on: ubuntu-latest
      needs: build-and-push
      environment: SERVER_IP
      steps:
        - name: Deploy to server
          uses: appleboy/ssh-action@b60142998894e495c513803efc6d5d72a72c968a
          with:
            host: ${{ secrets.SERVER_IP }}
            username: ${{ secrets.SERVER_USER }}
            key: ${{ secrets.SERVER_SSH_KEY }}
            port: 22
            script: |
              cd carsten
              docker compose pull
              docker compose up -d